/*Colors:
Gray: #BCC1C0;
White: #F9F3F2;
Black: #505250;
DarkBlue: #76CCB1;
LightBlue: #D1F4E9;
*/



html, body, .containerPanel, .loginPanel, .imagePanel, .container, .panel-body, 
.searchRow, .SearchPills, .nav-tabs, .SearchPanel, .infoResult, .ShopPanel, .ShopRow, .Profile,
.ListOptionsProfile, .songRow, .rowLogin
{
	height: 100%;
	font-family: "Helvetica",Arial,sans-serif;
}

/*.panel-body
{
	overflow: hidden;
}*/



/*Botones Genéricos*/
.btn
{
	background-color: #78c9af;
	font-family: "Helvetica",Arial,sans-serif;
	font-weight: bold;
	color: rgb(80, 82, 80);
}

.form-control
{
	background-color: rgb(209, 244, 233);
}

/*Login Panel*/
.rowLoginPanel
{
	height: 95%;

}

.rowLogin
{
	padding: 0px 5% 5%;
}

@media screen and (min-width: 768px)
{
	.rowLogin
	{
		padding: 0px;
	}
}

.loginPanel
{
	background-color: #505250;
	padding: 4% 4%;
}

	/*logo*/
	.logoRow
	{
		width: 100%;
		margin-left: 10%;
		height: 30%;
	}


	/*tablets*/
	@media screen and (min-width: 426px)
	{
		.logoRow
		{
			width: 80%;
			margin-left: 20%;
		}
	}

	/*Para compus.*/
	@media screen and (min-width: 768px)
	{
		.logoRow
		{
			width:100%;
			height:25%;
			margin: 0px;
		}
	}

	.logo
	{
		width: 80%;
		height:100%;
		padding: 0px;
		margin: auto auto;
	}

	@media screen and (min-width: 768px)
	{
		.logo{
			background-size: 100%;
			width:100%;
		}
	}


	/* Form Login */

	.headerText
	{
		color: rgb(118, 204, 177);
		font-size: 25px;
		color: rgb(118, 204, 177);
		margin: 0.2vh 0%;
	}


	@media screen and (min-width: 768px)
	{
		.headerText
		{
			font-size: 30px;
			margin: 1% 0%;
		}
	}


	@media screen and (max-width: 767px)
	{
		.formLogIn .form-group{
			margin: 3vh 0%;
		}
	}

	.formLogIn .form-group label, .formSignUp .form-group label
	{
		font-weight: normal;
		color: rgb(118, 204, 177);
		font-size: 13px;
	}

	@media screen and (min-width: 768px)
	{
		.formLogIn .form-group label, .formSignUp .form-group label
		{
			font-size: 15px;
		}
	}

	.formLogIn .form-control
		{
			font-size: 16px;
			height: 36px;
		}

	@media screen and (min-width: 768px)
	{
		.formLogIn .form-control
		{
			font-size: 18px;
			height: 46px;
		}
	}
	
	.loginPanel p
	{
		margin: 1% 0;
		color: #d3ece4;
		cursor: pointer;
		font-size: 14px;
	}

	@media screen and (min-width: 768px)
	{
		.loginPanel p
		{
			margin: 3% 0;
			font-size: 18px;
		}
	}
	

	.btnLogin
	{
		font-size: 4vmax;
		margin: 1vh 0%;
	}

	@media screen and (min-width: 768px)
	{
		.btnLogin
		{
			font-size: 5vmin;
			margin: 1vh 0%;
		}
	}

	.btnSignUp
	{
		font-size: 4vmin;
		margin-top: .1%;
	}

/*End Login Panel*/

.formSignUp 
{
	display: none;
}



.footer
{
	height: 5%;
	background-color: rgb(188, 193, 192);
}

.footer > div
{
	padding: 5px;
}

.footer > div > p
{
	margin: 0;
}

.imagePanel
{
background: url("../images/backgroundImage1.png") no-repeat center center fixed; 
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}

.musicPanel
{
	margin: auto;
	margin-top: 30px;
	background-color: rgba(80, 82, 80, .25);
	height: 85%;
	width: 95%;
	overflow: auto;
}


/* INDEX */

body
{
	background-color: rgb(209, 244, 233);
}

.navbar-inverse
{
	background-color: rgb(80, 82, 80);
	border-bottom-color: rgb(65, 67, 65);
	border-bottom: 1px solid;
}


.headerLogo
{
	height: 50px;
}

.navbar-header, .headerLogo a, .logoNav{
	height: 100%;
}

/*Logo NavBar*/

.logoNav
{
	display:none;
	height: 100%;
	width: 100%;
}

.logoNavSM
{
	height: 100%;
	width: 100%;
}

@media screen and (min-width: 768px)
{
	.logoNav
	{
		display: inline-block;	
	}

	.logoNavSM
	{
		display: none;
	}
}
	
.navbar-right .dropdown-header
{
	margin: 2vh 0vh 0vh;
}


.contenido
{
	margin-top: 70px;
}

.nav-pills>li>a
{
	border: 1.5px solid rgb(80, 82, 80);
	border-radius: 7px;
	background-color: #BCC1C0;
	color: #505250;
}

.nav-pills>li>a:hover
{
	background-color: #D1F4E9;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover
{
	background-color: rgb(80, 82, 80);
}

.nav-pills>li+li
{
	margin-left: 0px;
}

.rowPills
{
	margin-bottom: 16px;
}

.rowPillsXS .btn-group
{
	width: 100%;
	margin-bottom: 2vh;
	padding: 0% 2vw;
}

.rowPillsXS .btn
{
	background-color: rgba(118, 204, 177, .75);
}

.rowPillsXS .btn-group .active
{
	background-color: rgb(80, 82, 80);
}

.rowContent
{
	margin: 0px 0px;
}

.dropdown-menu {
    width: 30vw;
    background-color: rgb(80, 82, 80);
    border: 5px inset rgb(249, 243, 242);
}

.dropdown-menu input
{
	width: 90%;
	margin: 0px auto;
}

.dropdown-menu .dropdown-header
{
	color: #78c9af;
}


.dropdown-menu .btn
{
	background-color: #78c9af;
	color: rgb(80, 82, 80);
	margin: 4vw;
}

@media screen and (min-width: 768px)
{
	.dropdown-menu .btn
	{
		margin: 2vw 1.5vw;
	}
}

.searchForm
{
	margin-left: 2.5vw; 
	width: 37vw !important;
}

.col-sm-2, .col-sm-6, .col-sm-3
{
	padding: 0px;
	margin: 0px;
}

/*Search Page*/

.btnFilter
{
	background-color: #F9F3F2;
	border: solid 1px transparent;
	border-radius: 5px;
	border-color: #969696;
}

.SearchPanel
{
	overflow-y: auto;
}


.nav-stacked > li
{
	height: 30%;
	margin: 10px 2px;
}

.nav-stacked > li > a
{
	min-height:100%;
	background-size: cover;
	opacity: 0.4;
	margin-left: 25px;
	font-size: 40px;
	color: white;
	font-weight: bold;
	text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
	padding: 17% 27% 0px;
}


.songsSearch
{
	background: url("../images/song.jpg") 50% 50% no-repeat; 
}

.albumSearch
{
	background: url("../images/vinil.jpg") 50% 50% no-repeat; 
}

.userSearch
{
	background: url("../images/users.jpg") 50% 50% no-repeat; 
}


.SearchPills .activePill
{
	opacity: 0.7;
	margin-right: 25px;
	margin-left: 0px;
}

.imageFrame
{
	padding: 0px;
	margin: 0px 10px;
	height: 100%;
}

.SearchResult
{
	height: 42%;
	margin: 10px 40px;
	background-color: rgba(249, 243, 242, 0.3);
	border-radius: 5px;
	padding: 2% 1%;
}

.infoResult
{
	padding: 0px;
	margin: 1.5% 0px 1.5% 3%;
}


.infoResult > a
{
	cursor: pointer;
}

.listOfThings .infoResult > div:first-child
{
	height: 75%;
}

.listOfThings .infoResult > div:nth-child(2)
{
	height: 20%;
	padding-right: .5%;
}

.infoResult > a, .infoResult > p
{
	color: #505250;
	font-size: 14px;
}

.infoResult > a:first-child
{
	font-weight: bold;
	font-size: 1.5em;
	color: #1475AD;
}

.infoResult p:first-child
{
	color: #505250;
	font-size: 1.4em;
	font-style: italic;
	font-weight: 600;
}

.SearchResult > div:nth-child(3)
{
	margin: 3% 2% 2% 0px;
}


/* Shopping Cart */

.ShopRow
{
	margin-bottom: 2%
	overflow-y: hidden;
	
}

.ShopPanel
{
	background-color: #505250;
	margin: 0px 1.5%;
	border-radius: 5px;
	overflow-y: auto;
}

.CartItem
{
	height: 30%;
	margin: 0px 4% 3%; 
	background-color: rgba(249, 243, 242, 0.3);
	border-radius: 5px;
	padding: 10px;
}

.ShopPanel > div:first-child
{
	margin-top: 3%;
}

.infoShop
{
	padding: 0px;
	margin: 5% 3%;
}

.infoShop > a
{
	cursor: pointer;
}

.infoShop > a, .infoShop > p
{
	color: #D1fFE9;
	font-size: 14px;
}

.infoShop > a:first-child, .infoShop > p:first-child
{
	font-weight: bold;
	font-size: 20px;
	color: #D1fFE9;
}

.infoShop > p:first-child
{
	margin-top: 20px;
}

.CartItem > div:nth-child(3)
{
	margin-left: 7%;
}

/*Profile */


.bannerPhoto
{
	height: 40%;
	padding: 0px;
}

.bannerPhoto > img
{
	opacity: 0.8;
}

.profilePicture
{
	position:absolute;
	z-index: 100;
	top: 16%;
	left: 1%;
	height: 80%;
}

.profilePicture > img
{
	border: 5px solid #BCC1C0;
}

.inputPhotoBanner
{
	z-index: 100;
	position: absolute;
	left: 91%;
	bottom: -9%;
}

.inputPhotoProfile
{
	z-index: 100;
	position: absolute;
	top: 10%;
	left: 55%;
	visibility: hidden;
}

.filecamera{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	z-index: -1;
}
.filecamera + .labelcamera 
{
	font-weight: 700;
    display: inline-block;
    cursor: pointer; 
}

.inputPhotoBanner .filecamera + .labelcamera {
    font-size: 4em;
    opacity: 0.3;
    color: white;
}

.inputPhotoProfile .filecamera + .labelcamera{
	font-size: 3em;
	opacity: 1.0;
	color: #76CCB1;
}

.hoverOverPhoto
{
	visibility: visible;
}

.inputPhotoBanner .filecamera:focus + .labelcamera,
.inputPhotoBanner .filecamera.has-focus + .labelcamera,
.inputPhotoBanner .filecamera + .labelcamera:hover {
    color: #76CCB1;
    opacity: 1.0;
}


.everythingElse
{
	height: 60%;
	padding: 0px;
}

.editProfile
{
	background-color: rgba(80,82,80, 0.9);
	height: 150%;
	margin: 2.5% 0px 0px 3%;
	box-shadow: 7px 7px 5px #888888;
	padding: 2% 3%;
}

.editProfile button:first-child
{
	margin-left: 75%;
	margin-bottom: 10%;
	opacity: 0.7;
}

.editProfile button:first-child:hover
{
	opacity: 1.0;
}

.editProfile label, .editProfile p
{
	color: #D1F4E9;
	opacity: 0.9;
	font-size: 1em;
}

.editProfile > label
{
	font-size: 1.1em;
	margin-bottom: 10%;
}

.listOfThings
{
	height: 100%;
	margin-left: 1%;
}


.listOfThings .SearchResult
{
	height:65%;
	margin: 1.5% 4%;
}

.listOfThings .SearchResult > div:nth-child(3)
{
	margin-right: 0px;
}

.Options
{
	height: 10%;
	background-color:#505250;
}

.Options li
{
	display: table;
	overflow: hidden;
	height: 100%;
}

.Options li > div
{
	display: table-cell;
    vertical-align: middle;
    height: 100%;
}

.Options li a
{
	color: #F9F3F2;
	font-size: 1em;
	vertical-align: middle;
    display: table-cell;
    cursor: pointer;
    text-decoration: none;
}

.Options .activeLink a, .Options a:hover
{
	font-size: 1.3em;
	color: #76CCB1;
	text-shadow: .3px .4px #BCC1C0;
	font-weight: bold;
}

.uploadButtons
{
	margin-top: 2%;
}

.uploadButtons button
{
	opacity: 0.9;
	margin-right: 4%;
	border: .5px solid #505250;
}

.uploadButtons button:hover
{
	opacity: 1.0;
	background-color: #F9F3F2;
}

.btnEditSong
{
	opacity: 0.8;
	background-color: #BCC1C0;
}

.btnEditSong:hover
{
	opacity: 1.0;
	background-color: #76CCB1;
}

/*Song Page */

.songRow
{
	margin-right: 0px;
}

.songRow > div:first-child
{
	height: 50%;
	padding: 0px .5% 0px 1%;
}

.songRow > div:nth-child(3)
{
	height: 50%;
	padding-right: 0px;
	padding-left: 0px;
}

.listOfSongs
{
	background-color: rgba(80,82,80, 0.6);
	height: 100%;
	width: 32%;
	border-radius: 10px;
	overflow-y: hidden;
	padding-top: 1%;
	padding-left: 1.5%;
	box-shadow: -5px 5px 15px #888888;
}

.listOfSongs > p:first-child
{
	color: #F9F3F2;
	font-size: 1.2em;
}


.songContainer
{
	clear:left;
	padding: 1.5% 15px 1% 0px;
	opacity: 0.7;
	margin-bottom: 1%;
	overflow:hidden;
}


.songContainer:hover
{
	background-color: #D1F4E9;
	opacity: 0.9;
	border-radius: 10px;
	font-weight: bold;
}


.songContainer.activeSong
{
	background-color: #76CCB1;
	border-radius: 10px;
	font-weight: bold;
	opacity: 1.0;
}

.nameSong
{
	padding-left: 5%;
}

.nameSong a
{
	color: black;
	vertical-align: middle;
	cursor: pointer;
	text-decoration: none;
}

.timeSong
{
	padding-top: 1%;
}


.descriptionPanel
{
	margin-top: 2%;
	background-color: #505250;
	/*height: 100%;*/
	overflow-y:hidden;
	border-radius: 10px;
	width: 32%;
	box-shadow: -5px 5px 15px #888888;
	padding: 2% 0px 0px 2%;
}

.descriptionPanel p
{
	color: #D1F4E9;
	font-size: 1em;
}

.descriptionPanel  p:nth-child(2)
{
	margin-top: 2%;
	font-style: italic;
	margin-bottom: 4%;
	font-size: 0.9em;
}

.descriptionPanel  p:nth-child(3)
{
	margin-bottom: 10%;
}


.descriptionPanel  p:nth-child(4)
{
	font-size: 1.5em;
	font-weight: bold;
}

.descriptionPanel a
{
	color: #76CCB1;
	font-size: 1.4em;
}

.photoSong
{
	height: 100%;
	padding-right: .5%;
}

.gradientParent
{
	height: 100%;
}

.gradient
{
	height: 100%;
	display:inline-block;
	border-radius: 10px;
	margin-left: 5%;
	padding:0px;

	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
 	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
 	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
 	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
 	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

}

.gradient > img
{
	position:relative;
	border-radius: 10px;
	z-index: -1;
	display: block;
	margin: auto;
}

.btnSong
{
	position: absolute;
	background-color: #505250;
	color: #76CCB1;
	font-size: 2.4em;
	padding: 1% 1% 0px .5%;
	text-align: center;
	opacity: 0.5;
	height: 21%;
	width: 7%;
	top: 4%;
}

.btnSong:hover
{
	opacity: 1.0;
	color: #76CCB1;
}

.btnLove
{
	left: 85%;
}

.btnBuy
{
	left: 76%;
}

.songName
{
	color: #F9F3F2;
	font-size: 2em;
	font-weight: bold;
	font-style: italic;
	position: absolute;
	top: 75%;
	left: 20%;
}

.reproductorColumn
{
	height: 7%;
	margin-left: 8%;
}

.reproductor
{
	height: 100%;
}

.audioHtml
{
	width: 100%;
}

.commentPanel
{
	margin-top: 1%;
	height: 100%;
}

.commentPanel > div:first-child
{
	height: 30%;
}

.commentPanel textarea
{
	border-radius: 10px;
	height: 100%;
	width:90%;
	margin-left: 7%;
}

.commentPanel > div:nth-child(3)
{
	margin-top: 1%;
	margin-bottom: 2%;
	padding-left: 12%;

}

.commentPanel > div:nth-child(3) > button:first-child
{
	background-color: #F9F3F2;
}

.lineParent
{
	height: 0.8%;
}

.comment
{
	height: 30%;
	margin-left: 2%;
	margin-bottom: 1.5%;
	margin-top: 2%;
}

.comment > div
{
	height: 100%;
}

.comment > div:first-child
{
	padding-right: 2%;
}

.comment a 
{
	color: #505250;
	font-size: 1.2em;
}

.comment a + p
{
	color: #505250;
	font-size: 1em;
}

.dateOfComment
{
	padding-top: 5%;
}

.dateOfComment p
{
	color: #505250;
	font-style: italic;
}

.line
{
	background-color: #76CCB1;
	width: 70%;
	height: 100%
}
